.glassy{
  background-color:rgba(255,255,255,0.3);
  backdrop-filter:blur(60px);
  border-radius:8px;
  color:#fcfcfc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;

}

.card{
  width: 70vw;
  height:100%;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); 
  border-radius: 20px;
  margin-bottom:40px;
}
.content{ 
  height:100%;
  margin: 3vh 7vw;
  overflow:scroll;
  color: #eeeeee;

}
.content.card-body{
  height:60vh;
}
